.top {
    background-image: url(../../images/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.top_white {
    background: #ffffff;
}

@media screen and (max-width: 720px) {
    .top {
        background-image: url(../../images/main-image-mobile.png);
        padding: 0;
    }
    .top_white {
        background: #ffffff;
    }
}
